* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headercontainer,
.herocontainer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

/* Width of the whole page */
.header,
.hero,
.informations,
.quote,
.calltoaction {
    width: 1050px
}

/* Border radius */
.herobutton,
.calltoaction,
.calltoactionbutton {
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 75px;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 25px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    gap: 25px;
    align-items: center;
}

.herotitle {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.herosubtext,
.herobutton {
    margin-top: 20px;
}

.herosubtext {
    font-size: 18px;
    color: #E5E7EB;
}

.heroimage {
    width: 525px;
}

.herobutton {
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
    background-color: #3882f6;
    padding: 7px 30px;
    border: 0;
}

.lefthero {
    flex: 1;
}

.righthero {
    flex: 1;
}

.informationcontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.informationtitle {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin: 50px 0px;
}

.informations {
    display: flex;
    justify-content:space-around;
}

.information {
    width: 200px;
}

.informationimage {
    width: 200px;
    height: 200px;
}

.informationsubtext {
    text-align: center;
    font-size: 18px;
    color: #636C78;
}

.quotecontainer {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 100px;
}

.quote {
    justify-content: center;
    width: 950px;
}

.quotetext {
    font-size: 36px;
    font-style: italic;
    font-weight:lighter;
    color: #1F2937;
}

.quoteauthor {
    float: right;
    font-weight: bold;
}

.calltoactioncontainer {
    display: flex;
    justify-content: center;
    padding: 100px;
}

.calltoaction {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    color: white;
    height: 150px;
}

.calltoactiontitle {
    font-size: 20px;
    font-weight: bold;
}

.calltoactionbutton {
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #3882f6;
    padding: 7px 30px;
    border: 2px solid white;
}